<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Da Burger!</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrapCSS.css">
    <!-- FontAwesome CSS -->
    <script src="https://kit.fontawesome.com/5f1d56bd16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/burger_style.css">

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/bootstrapJS.js"></script>
    
    <script src="/assets/js/burgers.js"></script>

</head>
<body>
    {{{ body }}}
</body>
</html>