body {
  background-color: rgb(194, 193, 189);
  height:100%;
}
.fas {
  width:15%;
  height:15%;
  display:block;
  margin-right: auto;
  margin-left: auto;
}
.container, .row, .col {
  /* border: 2px solid black; */
  margin-top:20px;
  margin-bottom:20px;
}
.input-col {
  text-align: center;
}
/* .center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top:10px;
  margin-bottom:10px;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(90, 201, 136);
  color: black;
  text-align: center;
}

  